<div class="card" style= "margin-top: 10px;">
  <div class="card-header">
  <a href="/blog/{{blog.id}}"><h5>{{blog.name}}</h5></a>
  <p>Created by {{blog.user.name}} on </p>
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text">{{blog.description}}</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>