<section class="container-fluid">
    <div class="row">
    <div class="col-12 col-md-12 col-lg-12" style= "margin-top: 10px;">
    {{!-- Welcome --}}
    <nav class="navbar bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-warning">Welcome, {{name}}! Here are your current blogs:</span>
    </div>
    </nav>
    {{!-- Welcome End --}}
    {{!-- Blog Card --}}
    {{#each blogs as |blog|}}
    <div class="d-grid gap-2" style="margin-top:10px;">
      <a href="/api/dashboard/blog/{{blog.id}}"><button class="btn btn-primary btn-block bg-secondary" type="button"><h3>{{blog.name}}</h3> Created on {{format_date blog.date_created}}</button></a>
    </div>
    {{/each}}
    {{!-- Blog Card End --}}
    </div>
    </div>
</section>

<a href="/api/dashboard/new" class="btn btn-primary bg-success" style="margin-top:10px; margin-left:570px;">+ New Blog</a>

