<div style="padding: 10px; margin-top:10px; margin-left:10px; margin-right:10px; border: 2px solid lightslategray;">
<div class="alert alert-secondary" role="alert">
  <strong>Login</strong>
</div>
<form class="form login-form">
  <div class="mb-3 form-group">
    <label for="email-login" class="form-label">Email</label>
    <input type="email" class="form-control form-input" type="text" id="email-login" aria-describedby="emailHelp">
  </div>
  <div class="mb-3 form-group">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control form-input" id="password-login">
  </div>
  <div class="mb-3 form-group">
  <button type="submit" class="btn btn-primary">Submit</button>
    <a class="nav-link active" aria-current="page" href="/signup">Or SignUp Here!</a>
    </div>
</form>
</div>

<script src="./js/login.js"></script>

          
