<div class="card">
<form class="form newBlog-form">

  <div class="card-header form-group">
    <input class="form-control form-control-lg form-input" id="title" type="text" placeholder="Title" aria-label=".form-control-lg example">
  </div>

  <div class="card-body bg-light form-group" >
    <div class="mb-3">
    <textarea class="form-control form-input" id="description" rows="3" placeholder="Text" type="text" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>
</div>

<script src="/js/newBlog.js"></script>