<div style="padding: 10px; margin-top:10px; margin-left:10px; margin-right:10px; border: 2px solid lightslategray;">
  <div class="alert alert-secondary" role="alert">
    <strong>SignUp</strong>
  </div>
  <form class="form signup-form">
    <div class="mb-3 form-group">
        <label for="name-signup" class="form-label">Username</label>
        <input type="text" class="form-control form-input" id="name-signup" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="mb-3 form-group">
        <label for="email-signup" class="form-label">Email</label>
        <input type="email" class="form-control form-input" type="text" id="email-signup" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 form-group">
      <label for="password-signup" class="form-label">Password</label>
      <input type="password" class="form-control form-input" id="password-signup">
    </div>
    <div class="mb-3 form-group">
      <button type="submit" class="btn btn-block bg-secondary text-white">Submit</button>
      <a class="nav-link active text-muted" style="margin-left:530px;" aria-current="page" href="/login">Or Login Here!</a>
    </div>
  </form>
</div>

<script src="./js/signup.js"></script>


    