<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <title>The Tech Blog</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">The Tech Blog</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Login</a>
              </li>
          </div>
        </div>
      </nav>
    <!-- NAVBAR END -->
    <!-- MAIN CARD CONTAINER -->
    <section class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12" style= "margin-top: 10px;">
          <!--  -->
          <div style="padding: 10px; border: 2px solid lightslategray;">
            <div class="alert alert-secondary" role="alert">
             <strong>Login</strong>
            </div>
            <form>
              <div class="mb-3">
                <label for="exampleInputUser1" class="form-label">Username</label>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
               <a href="./TEST.html">Or SignUp Here!</a>
            </form>
          </div>
          <!--  -->
          <div style="padding: 10px; border: 2px solid lightslategray;">
            <div class="alert alert-secondary" role="alert">
             <strong>Login</strong>
            </div>
            <form class="form login-form">
              <div class="mb-3 form-group">
                <label for="email-login" class="form-label">Email</label>
                <input type="email" class="form-control form-input" type="text" id="email-login" aria-describedby="emailHelp">
              </div>
              <div class="mb-3 form-group">
                <label for="password-login" class="form-label">Password</label>
                <input type="password" class="form-control form-input" id="password-login">
              </div>
              <div class="mb-3 form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
               <a class="nav-link active" aria-current="page" href="/signup">Or SignUp Here!</a>
               </div>
            </form>
          </div>
          <!--  -->
          </div>
          </div>
      </section>
      <!-- MAIN CARD CONTAINER END -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/js/script.js"></script>
  </body>
</html>