<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <title>The Tech Blog</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">The Tech Blog</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Login</a>
              </li>
          </div>
        </div>
      </nav>
    <!-- NAVBAR END -->
    <!-- MAIN CARD CONTAINER -->
    <section class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12" style= "margin-top: 10px;">
<!-- WELCOME------------------------------------------------------------------------- -->
<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Welcome, Serge!</span>
  </div>
</nav>
<!-- Card 1----------------------------------------------------------------------------------------------------------------- -->
          <div class="card" style= "margin-top: 10px;">
            <div class="card-header">
              <h5>Test Header</h5>
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <p class="card-text">Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
<!-- Card 2----------------------------------------------------------------------------------------------------------------- -->
        <div class="card" style= "margin-top: 10px;">
            <div class="card-header">
            <h5>Test Header</h5>
            </div>
            <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text">Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.Test body content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
          <!-- --------------------------------------------------------------------- -->
        </div>

        </div>
    </section>
    <!-- MAIN CARD CONTAINER END------------------------------------------ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/js/script.js"></script>
  </body>
</html>